.event-modal {
     background-color: white;
     padding: 20px;
     border-radius: 16px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     border: 1px solid #ddd;
 }
 
 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .header input {
     border: none;
     font-size: 18px;
     font-weight: bold;
     width: 70%;
     color: #eb1f1f;
 }
 
 .header input:focus {
     outline: none;
 }
 
 .actions button {
     background: none;
     border: none;
     cursor: pointer;
     font-size: 18px;
 }
 
 .details {
     margin-top: 20px;
 }
 
 .details label {
     display: block;
     margin-top: 10px;
     font-size: 14px;
     color: #555;
 }
 
 .details input, .details select, .details textarea {
     width: 100%;
     padding: 5px;
     margin-top: 5px;
     font-size: 14px;
     border: 1px solid #ccc;
     border-radius: 8px;
 }
 
 .details textarea {
     resize: none;
     height: 60px;
 }
 
 .comments-section {
     margin-top: 20px;
 }
 
 .comments-section h3 {
     margin: 0;
     font-size: 16px;
     color: #555;
 }
 
 #comments {
     margin-top: 10px;
     max-height: 100px;
     overflow-y: auto;
 }
 .event-modal.right #comments{
     max-height: unset;
     overflow-y: unset;
 }
 
 .comment {
     display: flex;
     align-items: flex-start;
     background-color: #f1f1f1;
     padding: 5px;
     margin-bottom: 5px;
     border-radius: 8px;
     border: 1px solid #ccc;
 }
 
 .comment img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }
 
 .comment-content {
     flex: 1;
 }
 
 .comment-content p {
     margin: 0;
     font-size: 14px;
     color: #555;
 }
 
 .comment-actions {
     display: flex;
     margin-top: 5px;
 }
 
 .comment-actions button {
     background: none;
     border: none;
     cursor: pointer;
     font-size: 14px;
     margin-right: 5px;
     color: #007bff;
 }
 
 #new-comment {
     width: calc(100% - 30px);
     padding: 5px;
     font-size: 14px;
     border: 1px solid #ccc;
     border-radius: 8px;
     resize: none;
     margin-top: 10px;
     height: 40px;
 }
 
 #add-comment-btn {
     background: none;
     border: none;
     cursor: pointer;
     font-size: 18px;
     position: absolute;
     margin-left: 5px;
     margin-top: 10px;
 }
 .logo1{
     
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }